/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

*, *:before, *:after {
	margin:0;
	padding:0;
}

body {
	font-family:Helvetica, Arial, sans-serif;
	background-color:#111;
	background-image:url(img/background-1.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:200%;
	color:#EEE;
	background-attachment:fixed;
	font-size:62.5%;
}

body:after {
	content:'';
	position:fixed;
	display:block;
	background:rgba(0,0,0,0.85);
	width:100%;
	height:100%;
	top:0;
	left:0;
}

a {
	color:#DDD;
	text-decoration:none;
}

a:hover, a.active {
	text-decoration:underline;
}

p {
	margin: 1.12em 0;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.notes {
	position:absolute;
	width:200px;
	top:12px;
	left:12px;
	background-color:#F0E080;
	padding:0 12px;
	color:#111;
}

.wrapper {
	margin:0 auto;
	max-width:960px;
	position:relative;
	z-index:1;
}

.header {
	padding:12px 0;
	margin:0 0 12px 0;
	border-bottom:1px solid rgba(255, 255, 255, 0.15);
}

.title {
	float:left;
	font-family:'Just Me Again Down Here', cursive;
	font-weight:normal;
	font-size:250%;
}

.nav.nav-header {
	float:right;
}

.nav ul {
	list-style:none;
}

.nav ul li {
	display:block;
	float:left;
}

.nav ul li a {
	display:inline-block;
	padding:5px 10px;
	text-transform:lowercase;
}

.works {
	padding:12px 0;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}

.work {
	width:235px;
	height:235px;
	margin:auto;
	overflow:hidden;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	-ms-transition: opacity 0.25s ease-out;
	-o-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
}

.work a {
	display:block;
	height:100%;
	width:100%;
}

.works:hover .work {
	opacity:0.5;
}

.works:hover .work:hover {
	opacity:1;
}

.work img {
	visibility:hidden;
}