<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		<title>Olivier De Serres</title>
		
		<meta name="description" content="J'aime peindre.">
		
		<!-- Facebook share -->
		<meta property="og:title" content="Olivier De Serres"/>
		<meta property="og:description" content="J'aime peindre."/>
		<meta property="og:image" content="http://www.olivierdeserres.com/templates/img/share.png"/>
		
		<!-- Twitter share -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Olivier De Serres">
		<meta name="twitter:description" content="J'aime peindre.">
		<meta name="twitter:image:src" content="http://www.olivierdeserres.com/templates/img/share.png">
		<meta name="twitter:domain" content="www.olivierdeserres.com">
		
		<!-- Mobile configuration -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Olivier De Serres">
		
		<!-- Stylesheet -->
		<link href="http://fonts.googleapis.com/css?family=Oswald:400,300|Armata" rel="stylesheet" type="text/css">
		<link href="css/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css">
		<link href="css/global.css" media="all" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="notes">
			<p>Background : morceau d'une toile, shape abstraite</p>
			<p>Logo : signature, handwritten</p>
			<p>Roll-over work : info</p>
			<p>Click work : overlay, close cursor, navigation sidescreen</p>
		</div>
		
		<div class="wrapper">
			<header class="header cf">
				<h1 class="title"><a href="index.html">Olivier<span> </span><em>De<span> </span>Serres</em></a></h1>
				
				<nav class="nav nav-header">
					<ul class="cf">
						<li>
							<a href="index.html" class="active">Travaux</a>
						</li>
						<li>
							<a href="about.html">À propos</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				</nav>
			</header>
			
			<div class="content">
				<nav class="nav nav-works">
					<ul class="cf">
						<li>
							<a href="#" class="active">Tous</a>
						</li>
						<li>
							<a href="#peintures">Peintures</a>
						</li>
						<li>
							<a href="#dessins">Dessins</a>
						</li>
						<li>
							<a href="#graffitis">Graffitis</a>
						</li>
						<li>
							<a href="#whatever">whatever</a>
						</li>
					</ul>
				</nav>
				
				<div class="works">
					<div class="gutter-sizer"></div>
					
					<div data-category="dessins" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_mztnd1orCJ1sfinydo2_500.jpg">
							<img src="img/works/tumblr_mztnd1orCJ1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="dessins" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n1dahn8NNi1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n1dahn8NNi1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="dessins" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n1dajtrZ9N1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n1dajtrZ9N1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="dessins" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n1dajtrZ9N1sfinydo2_500.jpg">
							<img src="img/works/tumblr_n1dajtrZ9N1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="dessins" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n2p5j6ik6s1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n2p5j6ik6s1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="peintures" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n2p5j6ik6s1sfinydo2_500.jpg">
							<img src="img/works/tumblr_n2p5j6ik6s1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="peintures" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4efjm0hGd1sfinydo5_500.jpg">
							<img src="img/works/tumblr_n4efjm0hGd1sfinydo5_500.jpg" />
						</a>
					</div>
					
					<div data-category="peintures" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="peintures" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo4_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo4_500.jpg" />
						</a>
					</div>
					
					<div data-category="peintures" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo3_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo3_500.jpg" />
						</a>
					</div>
					
					<div data-category="graffitis" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo2_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="graffitis" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n5qdqrkSqw1sfinydo4_500.jpg">
							<img src="img/works/tumblr_n5qdqrkSqw1sfinydo4_500.jpg" />
						</a>
					</div>
					
					<div data-category="graffitis" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_mztnd1orCJ1sfinydo2_500.jpg">
							<img src="img/works/tumblr_mztnd1orCJ1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="graffitis" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n1dahn8NNi1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n1dahn8NNi1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="graffitis" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n1dajtrZ9N1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n1dajtrZ9N1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="graffitis" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n1dajtrZ9N1sfinydo2_500.jpg">
							<img src="img/works/tumblr_n1dajtrZ9N1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n2p5j6ik6s1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n2p5j6ik6s1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n2p5j6ik6s1sfinydo2_500.jpg">
							<img src="img/works/tumblr_n2p5j6ik6s1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4efjm0hGd1sfinydo5_500.jpg">
							<img src="img/works/tumblr_n4efjm0hGd1sfinydo5_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo1_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo1_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo4_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo4_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo3_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo3_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" href="img/works/tumblr_n4yjgnPNRk1sfinydo2_500.jpg">
							<img src="img/works/tumblr_n4yjgnPNRk1sfinydo2_500.jpg" />
						</a>
					</div>
					
					<div data-category="whatever" class="work">
						<a rel="work" title="Description de la piece" title="Description de la piece" href="img/works/tumblr_n5qdqrkSqw1sfinydo4_500.jpg">
							<img src="img/works/tumblr_n5qdqrkSqw1sfinydo4_500.jpg" />
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="js/packery.pkgd.min.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/jquery.fancybox.pack.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>